header.bg-indigo-600.p-3
    .container.mx-auto.flex.justify-between.items-center
        
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices
        
        nav(class="text-sm md:flex md:items-center font-bold text-white gap-3 hidden")
            a(href="") Mis propiedades
            a(href="") Mi perfil
            a(class="bg-indigo-800 py-2 px-7 rounded-lg" href="") Cerrar Sesion